// Formulario
.formularioContact {
    display: flex;
    justify-content: center;
  
    .formContactotext {
      padding: 250px;
      font-size: 25px;
      font-family: $font-family;
  
      h2,
      p {
        text-align: center;
      }
    }
  
    .campo {
      display: block;
      width: 300px;
      height: 30px;
      border: 1px solid #000;
      margin-bottom: 20px;
    }
  
    .botonenviar {
      height: 40px;
      width: 90px;
      background-color: rgb(231, 227, 227);
    }
  
    textarea {
      display: block;
      height: 200px;
      width: 500px;
      border: 1px solid $primary-text-color;
    }
  }
  
  
  
  
  