// Media Queries
@media (max-width: 992px) {
    .navbar {
      font-size: $font-size-small;
    }
  
    .videoIntro {
      max-height: 300px;
      z-index: 1;
    }

  }
  
  @media (max-width: 768px) {
    .navbar {
      font-size: 0.85rem;
    }
  
    .navbar-brand {
      font-size: 1.25rem;
    }
  
    .navbar-nav .nav-link {
      padding: 0.5rem;
    }
  
  
    .footerText {
      font-size: 0.8rem;
    }
  
    .carousel-inner img {
      height: auto;
    }
  
    .articuloItem {
      max-width: 100%;
      flex: 1 1 100%;
  
      img {
        height: auto;
        width: auto;
      }
    }
  }
  
  @media (max-width: 576px) {
    .navbar {
      font-size: 0.8rem;
      z-index: 1050;
    }
  
    .navbar-brand {
      font-size: 1rem;
    }
  
    .navbar-nav {
      font-size: 0.8rem;
    }
  
    .videoIntro {
      max-height: 200px;
    }
  
    .footerText {
      font-size: 0.7rem;
    }
  
    .botonenviar {
      max-width: 100%;
      width: 100%;
    }
  }
  // Media Queries para dispositivos móviles
  @media (max-width: 992px) {
    .containerArticulos {
      .seccionArticulos {
        flex-wrap: wrap; // Permite que los artículos se ajusten en varias líneas
  
        .articuloItem {
          flex: 1 1 48%; // Ajusta el tamaño para tablets y pantallas más pequeñas
          margin-bottom: 20px; // Espacio entre artículos
        }
      }
    }
  
    .containerImg {
      .imagenCuotas {
        width: 100%; // Ajusta el tamaño de la imagen para pantallas más pequeñas
        max-width: 400px; // Limita el tamaño máximo
      }
    }
  }
  
  @media (max-width: 768px) {
    .containerArticulos {
      .seccionArticulos {
        .articuloItem {
          flex: 1 1 100%; // Cada artículo ocupa el 100% del ancho disponible
        }
      }
    }
  
    .containerImg {
      .imagenCuotas {
        width: 100%; // Ajusta el tamaño de la imagen para pantallas aún más pequeñas
        max-width: 300px; // Limita el tamaño máximo
      }
    }
  }
  
  @media (max-width: 576px) {
    .containerArticulos {
      .seccionArticulos {
        .articuloItem {
          flex: 1 1 100%; // Cada artículo ocupa el 100% del ancho disponible
        }
      }
    }
  
    .containerImg {
      .imagenCuotas {
        width: 100%; // Ajusta el tamaño de la imagen para pantallas pequeñas
        max-width: 200px; // Limita el tamaño máximo
      }
    }
  }


  @media (max-width: 992px) {
    .containerArticulos {
      .seccionArticulos {
        flex-wrap: wrap; // Permite que los artículos se ajusten en múltiples líneas
  
        .articuloItem {
          flex: 1 1 48%; // Ajusta el tamaño para pantallas medianas (tablets)
          margin-bottom: 20px; // Espacio entre artículos
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .containerArticulos {
      .seccionArticulos {
        .articuloItem {
          flex: 1 1 100%; // Cada artículo ocupa el 100% del ancho disponible
        }
      }
    }
  }
  
  @media (max-width: 576px) {
    .containerArticulos {
      .seccionArticulos {
        .articuloItem {
          flex: 1 1 100%; // Cada artículo ocupa el 100% del ancho disponible
        }
      }
    }
  }
  @media (min-width: 992px) {
    .formularioContact {
      flex-direction: column; // Cambia la dirección del flex a columna para dispositivos móviles
      .formContactotext {
        padding: 50px;
        font-size: 28px;
      }
      
      .campo,
      textarea {
        max-width: 60%;
      }
    }
  }
    
  @media (min-width: 768px) {
    .formularioContact {
      flex-direction: column; // Cambia la dirección del flex a columna para dispositivos móviles
      .formContactotext {
        padding: 40px;
        font-size: 26px;
      }
      
      .campo,
      textarea {
        max-width: 70%;
      }
    }
  }
  @media (min-width: 576px) {
    .formularioContact {
      flex-direction: column; // Cambia la dirección del flex a columna para dispositivos móviles
      .formContactotext {
        padding: 30px;
        font-size: 24px;
      }
      
      .campo,
      textarea {
        max-width: 80%;
      }
    }
  }

  
